<loader></loader>

<ng-template #confirm>
    <div class="modal-body">
        <app-page-title [subtitle]="true" [description]="'LABEL_CONFIRM_TITLE' | i18n"></app-page-title>

        <div class="mt-3 mb-3 font-weight-light text-dark">{{confirmItem?.msg}}</div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutAlign.xs="space-around"
            fxLayoutGap="10px" class="mt-2" *ngIf="confirmItem?.isConfirmTypeOk()">
            <div fxFlex="130px" fxFlex.sm="130px" fxFlex.xs="40px">
                <button type="button" class="btn btn-primary-mid" title="{{'LABEL_CONFIRM_OK' | i18n}}"
                    (click)="onConfirmYesOk(confirmItem)">
                    <i class="fe-check mr-1"></i>
                    <span>{{'LABEL_CONFIRM_OK' | i18n}}</span>
                </button>
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutAlign.xs="space-around"
            fxLayoutGap="10px" class="mt-2" *ngIf="confirmItem?.isConfirmTypeYesNo()">
            <div fxFlex="130px" fxFlex.sm="130px" fxFlex.xs="40px">
                <button type="button" class="btn btn-primary-mid mr-1" title="{{'LABEL_CONFIRM_YES' | i18n}}"
                    (click)="onConfirmYesOk(confirmItem)">
                    <i class="fe-check mr-1"></i>
                    <span>{{'LABEL_CONFIRM_YES' | i18n}}</span>
                </button>
            </div>

            <div fxFlex="130px" fxFlex.sm="130px" fxFlex.xs="40px">
                <button type="button" class="btn btn-danger" title="{{'LABEL_CONFIRM_NO' | i18n}}"
                    (click)="onConfirmNo(confirmItem)">
                    <i class="fe-x mr-1"></i>
                    <span>{{'LABEL_CONFIRM_NO' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<router-outlet></router-outlet>